<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/custom.css">       <!-- This overwrite above bootstrap css. Because is put last -->

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1>My Blog</h1>
        <p>The best blog about Matt</p>
      </div>
    </div>

    <!-- let Bootstrap automatically handle the layout -->
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="container">
            <div class="card img-fluid" style="width:100%">
              <img class="card-img-top" src="./images/weeds.jpg" alt="Card image" style="width:100%">
              <div class="card-img-overlay">
                <h4 class="card-title" style="color:white; background-color:black; text-align:center">Close view on a weed</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi quis eleifend quam adipiscing. Amet nisl purus in mollis. Dolor sed viverra ipsum nunc aliquet bibendum. Risus commodo viverra maecenas accumsan. Mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan. In hendrerit gravida rutrum quisque non tellus. A erat nam at lectus. Neque convallis a cras semper auctor neque vitae tempus. Eget sit amet tellus cras adipiscing enim eu turpis. Pulvinar pellentesque habitant morbi tristique senectus et. Vulputate enim nulla aliquet porttitor.</div>
      </div>
    </div>

    <br>

      <!--Footer -->
        <div class="container-fluid" style="background-color:rgb(220,220,220); margin-bottom:0rem">
          <br>
          <div class="container">
            <h1>Blogging</h1>
            <p>The blockquote element is used to present content of the Blog</p>
            <blockquote class="blockquote">
              <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
              <footer class="blockquote-footer">From WWF's website</footer>
            </blockquote>
          </div>
          <br>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery.js"></script>
    <script src="./js/popper.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="./js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
